@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #111727;
    color: white;
}
.sidebar{
    background-color: #181f35;
}
.bglogin{
    background-color: #78008383;
}
.component{
    background-color: #172144;
}
.dash{
    padding: 4vw;
}
.paddingvw{
    padding: 2vw;
}
.main-content{
    gap: 3vw;
}
.logininput{
    box-shadow: 0px 0px 3px;
    padding: 5px 15px;
    border-radius: 10px;
}
.logininput:focus{
    outline: none;
}